<div id="text-header">
    Вам могут понравиться
</div>
<div id="carousel">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let item of bookListingModel">
            <a (click)="redirect(item.id)">
                <mat-card class="card">
                    <mat-card-header>
                        <mat-card-title id="cardName">{{item.name}}</mat-card-title>
                    </mat-card-header>
                        <img style="border-radius: 25px;"
                        src="{{item.imageUrl}}" 
                        alt="Book Image"
                        width="200px" height="200px">
                    <mat-card-content>
                        <div id="cardContent"><b>{{item.assessment}}</b></div>
                    </mat-card-content>
                </mat-card>
            </a>
        </ng-template>
    </owl-carousel-o>
</div>