#container{
    display: grid;
    grid-template-columns: auto 400px;
    height: 100%;
    margin: 0;
}

#result{
    background-color: darkblue;
}

#custom-ffilter{
    background-color: darkcyan;
}