#container{
    display: grid;
    grid-template-rows: 400px 1050px 500px 650px;
    height: auto;
    margin: 0;
}

#karusel{
    background-color: darkslateblue;
}

#lastAdded{
    background-color: darkviolet;
}

#lastComments{
    background-color: dimgray;
}

#filter{
    background-color: firebrick;
}