<div id="container">
    <div id="leftBar">
        
    </div>
    <div id="profile">

    </div>
        <mat-toolbar id="menu">
            <mat-toolbar-row>
                <a id="logo" routerLink="profile"></a>
                <span id="name"><b>PREMIUM LIBRARY</b></span>
                <span class="spacer"></span>
                <a id="menu-text" routerLink="main">ГЛАВНАЯ</a>
                <span id="menu-text" mat-button [matMenuTriggerFor]="menu">КАТАЛОГ</span>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="catalog-book">Книг</button>
                    <button mat-menu-item routerLink="catalog-authors">Авторов</button>
                    <button mat-menu-item routerLink="catalog-genre">Жанров</button>
                </mat-menu>
                <a id="menu-text" routerLink="top100">ТОП 100</a>
                <a id="menu-text" routerLink="book">СЛУЧАЙНАЯ</a>
            </mat-toolbar-row>
        </mat-toolbar>
    <div id="rightBar">

    </div>
    <div id="footerBar">

    </div>
</div>