<div id="container">
    <div id="leftBar">
        
    </div>
    <div id="profile">

    </div>
        <mat-toolbar id="menu">
            <mat-toolbar-row>
                <span id="logo"></span>
                <span id="name">PREMIUM LIBRARY</span>
                <span class="spacer"></span>
                <span id="menu-text">ГЛАВНАЯ</span>
                <span id="menu-text">КАТАЛОГ</span>
                <span id="menu-text">ТОП 100</span>
                <span id="menu-text">СЛУЧАЙНАЯ</span>
            </mat-toolbar-row>
        </mat-toolbar>
    <div id="rightBar">

    </div>
    <div id="footerBar">

    </div>
</div>