<div id="container">
    <div id="author">
        <div id="authorImage" style="background-image: url({{authorListingModel.imageUrl}});">
        </div>
        <div id="authorName">
            <div id="authorNameText">
                {{authorListingModel.fullName}}
            </div>
            <div id="authorNameLike">
            </div>
        </div>
        <div id="authorInformation">
        </div>
    </div>
    <div id="books">
        <app-author-books></app-author-books>
    </div>
    <div id="comment">
        <app-author-comment></app-author-comment>
    </div>
</div>