<div id="container">
  <div id="pageHeader">
    <app-header></app-header>
  </div>
  <div id="pageFind">
    <mat-form-field class="serch">
      <mat-label 
      style="color: rgba(255, 255, 255, 0.55);
      padding-left: 10px;">НАЙТИ КНИГУ ПО НАЗВАНИЮ</mat-label>
      <input style="color: rgba(255, 255, 255, 0.55);" matInput>
    </mat-form-field>
    <button mat-button matSuffix mat-icon-button aria-label="Search">
      <mat-icon id="buttonSearch">search</mat-icon>
    </button>
  </div>
  <div id="pageLeft"></div>
  <div id="pageMain">
    <router-outlet></router-outlet>
  </div>
  <div id="pageRight"></div>
  <div id="pageFooter">
    <div></div>
    <form class="form">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label style="color: rgba(255, 255, 255, 0.55);">Логин</mat-label>
        <input type="text" matInput style="color: rgba(255, 255, 255, 0.55);" name="userName" [ngModel]="userNameOrEmailAddress">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label style="color: rgba(255, 255, 255, 0.55);">Пароль</mat-label>
          <input type="password" matInput style="color: rgba(255, 255, 255, 0.55);" name="password" [ngModel]="password">
      </mat-form-field>
      <br>
      <button (click)="adminAutorisation()" mat-raised-button color="primary" id="addButton">Авторизоваться</button>              
    </form>
    <div></div>
  </div>
</div>