<div id="headerText">
    Добавить жанр
</div>
<div>
    <div class="form">
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label style="color: rgba(255, 255, 255, 0.55);">Жанр</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label style="color: rgba(255, 255, 255, 0.55);">Ссылка на картинку</mat-label>
            <input matInput>
        </mat-form-field>
        <br>  
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label style="color: rgba(255, 255, 255, 0.55);">Книги</mat-label>
            <mat-select>
                <mat-option value="option">Option</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" id="addButton">Добавить</button>              </div>
      
</div>