<div id="listComments">
    <mat-action-list id="list">
            <button mat-list-item style="height: auto;" *ngFor="let item of bookCommentListingModel">
                <div id="item1">
                    <span id="commentImage" style="background-image: url({{item.imageUrl}});"></span>
                    <div id="commentName">{{item.userName}}</div>
                    <div id="commentAction">
                    </div>
                    <div id="commentText">{{item.comment}}</div>
                </div>
            </button>
        </mat-action-list>
</div>
<div id="writerComment">
    <mat-form-field class="serch">
        <mat-label 
        style="color: rgba(255, 255, 255, 0.55);
        padding-left: 10px;">ОСТАВИТЬ КОММЕНТАРИЙ</mat-label>
        <input style="color: rgba(255, 255, 255, 0.55);" matInput>
      </mat-form-field>
      <button mat-button matSuffix mat-icon-button aria-label="Search">
        <mat-icon id="buttonSearch">arrow_forward</mat-icon>
      </button>  
</div>