#container{
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    grid-gap: 10px;
    height: auto;
    margin: 0;
}

#genre{
    display: grid;
    grid-template-areas:
    "genreImage genreName"
    "genreImage genreInformation";
    grid-template-columns: 250px auto;
    grid-template-rows: 50px 200px;

    background: #2d2e44;
    box-shadow: 0 0 10px rgb(41, 36, 61);
    border-radius: 10px;
    margin: 5px;
    padding: 50px;
}

#genreImage{
    grid-area: genreImage;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

#genreName{
    display: grid;
    grid-template-columns: auto 60px;
    grid-area: genreName;
    margin-left: 30px;
}

#genreNameText{
    color: rgba(200, 87, 204, 0.55);
    font-size: 50px;
}

#buttonFavorite{
    font-size: 50px; 
    color: rgba(255, 255, 255, 0.55);
    width: 60px;
    height: 60px;
    padding-top: 10px;
    padding-left: 2px;
    border-radius: 100%;
    margin-bottom: 10px;
}

#books{
    background: #2d2e44;
    box-shadow: 0 0 10px rgb(41, 36, 61);
    border-radius: 10px;
    margin: 5px;
    height: auto;
}
